.load6 .loader {
  font-size: 10px;
  text-indent: -9999em;
  overflow: hidden;
  width: 9em;
  height: 9em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease;
  animation: load6 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -7.5115em 0 -3.62em #ffffff, 0 -7.5115em 0 -3.801em #ffffff, 0 -7.5115em 0 -3.982em #ffffff, 0 -7.5115em 0 -4.163em #ffffff, 0 -7.5115em 0 -4.31685em #ffffff;
  }
  5%,
  95% {
    box-shadow: 0 -7.5115em 0 -3.62em #ffffff, 0 -7.5115em 0 -3.801em #ffffff, 0 -7.5115em 0 -3.982em #ffffff, 0 -7.5115em 0 -4.163em #ffffff, 0 -7.5115em 0 -4.31685em #ffffff;
  }
  10%,
  59% {
    box-shadow: 0 -7.5115em 0 -3.62em #ffffff, -0.78735em -7.46625em 0 -3.801em #ffffff, -1.56565em -7.3486em 0 -3.982em #ffffff, -2.3168em -7.14045em 0 -4.163em #ffffff, -2.68785em -7.01375em 0 -4.31685em #ffffff;
  }
  20% {
    box-shadow: 0 -7.5115em 0 -3.62em #ffffff, -3.0589em -6.8599em 0 -3.801em #ffffff, -5.02275em -5.58385em 0 -3.982em #ffffff, -6.07255em -4.4164em 0 -4.163em #ffffff, -6.77845em -3.077em 0 -4.31685em #ffffff;
  }
  38% {
    box-shadow: 0 -7.5115em 0 -3.62em #ffffff, -3.41185em -6.697em 0 -3.801em #ffffff, -5.83725em -4.7241em 0 -3.982em #ffffff, -7.01375em -2.68785em 0 -4.163em #ffffff, -7.421em -0.8145em 0 -4.31685em #ffffff;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -7.5115em 0 -3.62em #ffffff, 0 -7.5115em 0 -3.801em #ffffff, 0 -7.5115em 0 -3.982em #ffffff, 0 -7.5115em 0 -4.163em #ffffff, 0 -7.5115em 0 -4.31685em #ffffff;
  }
}
@keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -7.5115em 0 -3.62em #ffffff, 0 -7.5115em 0 -3.801em #ffffff, 0 -7.5115em 0 -3.982em #ffffff, 0 -7.5115em 0 -4.163em #ffffff, 0 -7.5115em 0 -4.31685em #ffffff;
  }
  5%,
  95% {
    box-shadow: 0 -7.5115em 0 -3.62em #ffffff, 0 -7.5115em 0 -3.801em #ffffff, 0 -7.5115em 0 -3.982em #ffffff, 0 -7.5115em 0 -4.163em #ffffff, 0 -7.5115em 0 -4.31685em #ffffff;
  }
  10%,
  59% {
    box-shadow: 0 -7.5115em 0 -3.62em #ffffff, -0.78735em -7.46625em 0 -3.801em #ffffff, -1.56565em -7.3486em 0 -3.982em #ffffff, -2.3168em -7.14045em 0 -4.163em #ffffff, -2.68785em -7.01375em 0 -4.31685em #ffffff;
  }
  20% {
    box-shadow: 0 -7.5115em 0 -3.62em #ffffff, -3.0589em -6.8599em 0 -3.801em #ffffff, -5.02275em -5.58385em 0 -3.982em #ffffff, -6.07255em -4.4164em 0 -4.163em #ffffff, -6.77845em -3.077em 0 -4.31685em #ffffff;
  }
  38% {
    box-shadow: 0 -7.5115em 0 -3.62em #ffffff, -3.41185em -6.697em 0 -3.801em #ffffff, -5.83725em -4.7241em 0 -3.982em #ffffff, -7.01375em -2.68785em 0 -4.163em #ffffff, -7.421em -0.8145em 0 -4.31685em #ffffff;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -7.5115em 0 -3.62em #ffffff, 0 -7.5115em 0 -3.801em #ffffff, 0 -7.5115em 0 -3.982em #ffffff, 0 -7.5115em 0 -4.163em #ffffff, 0 -7.5115em 0 -4.31685em #ffffff;
  }
}
/*
.load6-frames() {
  0% {
  -webkit-transform:rotate(0deg);
  transform:rotate(0deg);
  box-shadow:
  0 -0.83em 0 -0.4em @foreground,
  0 -0.83em 0 -0.42em @foreground,
  0 -0.83em 0 -0.44em @foreground,
  0 -0.83em 0 -0.46em @foreground,
  0 -0.83em 0 -0.477em @foreground;
  }
  5%, 95% {
    box-shadow:
    0 -0.83em 0 -0.4em @foreground,
    0 -0.83em 0 -0.42em @foreground,
    0 -0.83em 0 -0.44em @foreground,
    0 -0.83em 0 -0.46em @foreground,
    0 -0.83em 0 -0.477em @foreground;
  }
  10%,
  59% {
    box-shadow:
    0 -0.83em 0 -0.4em @foreground,
    -0.087em -0.825em 0 -0.42em @foreground,
    -0.173em -0.812em 0 -0.44em @foreground,
    -0.256em -0.789em 0 -0.46em @foreground,
    -0.297em -0.775em 0 -0.477em @foreground;
  }
  20% {
    box-shadow:
    0 -0.83em 0 -0.4em @foreground,
    -0.338em -0.758em 0 -0.42em @foreground,
    -0.555em -0.617em 0 -0.44em @foreground,
    -0.671em -0.488em 0 -0.46em @foreground,
    -0.749em -0.34em 0 -0.477em @foreground;
  }
  38% {
    box-shadow:
    0 -0.83em 0 -0.4em @foreground,
    -0.377em -0.74em 0 -0.42em @foreground,
    -0.645em -0.522em 0 -0.44em @foreground,
    -0.775em -0.297em 0 -0.46em @foreground,
    -0.82em -0.09em 0 -0.477em @foreground;
  }
  100% {
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
    box-shadow:
    0 -0.83em 0 -0.4em @foreground,
    0 -0.83em 0 -0.42em @foreground,
    0 -0.83em 0 -0.44em @foreground,
    0 -0.83em 0 -0.46em @foreground,
    0 -0.83em 0 -0.477em @foreground;
  }
}*/
/*9.05*/
