- var config = { title: 'Single Element CSS Spinners' }
doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title=config.title
		link(rel="stylesheet",href="../css/main.css")
		link(rel="stylesheet",href="http://fonts.googleapis.com/css?family=Lato:300")
	body
		header
			div.inner
				h1=config.title
		main
			div.inner
				- for(var i = 1;i < 9;i++)
					div(class="load-container load#{i}")
						div.loader Loading...
						a(href="#") &lt; View Source &gt;
			a.github(href="https://github.com/lukehaas"): img(src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67",alt="Fork me on GitHub",data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png")
		div.overlay
		div.source
			textarea.markup("readonly"): <div class="loader">Loading...</div>
			textarea.css("readonly")
		footer
			div.inner
				a.twitter(href="http://twitter.com/lukehaas",target="_blank")
					img(src="../images/me.jpeg",width="45",height="45",alt="Twitter pic")
					span Created by @lukehaas