
.load6 .loader {
  font-size:90px;
  text-indent:-9999em;
  overflow: hidden;
  width:1em;
  height:1em;
  border-radius:50%;
  margin:0.8em auto;
  position:relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation:load6 1.7s infinite ease;
  animation:load6 1.7s infinite ease;
}
@-webkit-keyframes load6 {.load6-frames;}
@keyframes load6 {.load6-frames;}

.load6-frames() {
  0% {
  -webkit-transform:rotate(0deg);
  transform:rotate(0deg);
  box-shadow:-0.11em -0.83em 0 -0.4em #FFF,
  -0.11em -0.83em 0 -0.42em #FFF,
  -0.11em -0.83em 0 -0.44em #FFF,
  -0.11em -0.83em 0 -0.46em #FFF,
  -0.11em -0.83em 0 -0.477em #FFF;
  }
  5%,95% {
  box-shadow:-0.11em -0.83em 0 -0.4em #FFF,
  -0.11em -0.83em 0 -0.42em #FFF,
  -0.11em -0.83em 0 -0.44em #FFF,
  -0.11em -0.83em 0 -0.46em #FFF,
  -0.11em -0.83em 0 -0.477em #FFF;
  }

  30% {
  box-shadow:-0.11em -0.83em 0 -0.4em #FFF,
  -0.51em -0.66em 0 -0.42em #FFF,
  -0.75em -0.36em 0 -0.44em #FFF,
  -0.83em -0.03em 0 -0.46em #FFF,
  -0.81em 0.21em 0 -0.477em #FFF;
  }
  55% {
  box-shadow:-0.11em -0.83em 0 -0.4em #FFF,
  -0.29em -0.78em 0 -0.42em #FFF,
  -0.43em -0.72em 0 -0.44em #FFF,
  -0.52em -0.65em 0 -0.46em #FFF,
  -0.57em -0.61em 0 -0.477em #FFF;
  }
  100% {
  -webkit-transform:rotate(360deg);
  transform:rotate(360deg);
  box-shadow:-0.11em -0.83em 0 -0.4em #FFF,
  -0.11em -0.83em 0 -0.42em #FFF,
  -0.11em -0.83em 0 -0.44em #FFF,
  -0.11em -0.83em 0 -0.46em #FFF,
  -0.11em -0.83em 0 -0.477em #FFF;
  }
}

