@foreground: #FFF;

.load1 .loader,.load1 .loader:before,.load1 .loader:after {
  -webkit-animation:load1 1s infinite ease-in-out;
  animation:load1 1s infinite ease-in-out;
  background:@foreground;
  height:4em;
  width:1em;
}
.load1 .loader:before,.load1 .loader:after {
  content:'';
  position:absolute;
  top:0;
}

.load1 .loader:before {
  -webkit-animation-delay:-0.32s;
  animation-delay:-0.32s;
  left:-1.5em;
}
.load1 .loader {
  -webkit-animation-delay:-0.16s;
  animation-delay:-0.16s;
  color:@foreground;
  font-size:11px;
  margin:88px auto;
  position:relative;
  text-indent:-9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.load1 .loader:after {
  left:1.5em;
}


@-webkit-keyframes load1 {.load1-frames;}
@keyframes load1 {.load1-frames;}

.load1-frames() {

  0%,
  80%,
  100% {
    box-shadow:0 0;
    height:4em;
  }

  40% {
    box-shadow:0 -2em;
    height:5em;
  }

}
